<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active liForm">
                <form th:action="@{/getEvents}" method="post" id="formGetEvents" class="navForm">
                    <a  href="javascript:;" onclick="document.getElementById('formGetEvents').submit();" class="nav-link" >All Events</a>
                </form>
            </li>
            <li class="nav-item active liForm">
                <form th:action="@{/eventsOfArtist}" method="post" id="formGetFilterEvents" class="navForm">
                    <a  href="javascript:;" onclick="document.getElementById('formGetFilterEvents').submit();" class="nav-link" >Filter Event</a>
                </form>
            </li>
            <li class="nav-item active liForm">
                <form th:action="@{/addClient}" method="post" id="formRegClient" class="navForm">
                    <a  href="javascript:;" onclick="document.getElementById('formRegClient').submit();" class="nav-link" >Registrar Client</a>
                </form>
            </li>
            <li class="nav-item active liForm">
                <form th:action="@{/getClients}" method="post" id="formListClient"  class="navForm">
                    <a  href="javascript:;" onclick="document.getElementById('formListClient').submit();" class="nav-link">Llistar Clients</a>
                </form>
            </li>
            <li class="nav-item active liForm">
                <form th:action="@{/addArtista}" method="post" id="formAddArtist"class="navForm">
                    <a  href="javascript:;" onclick="document.getElementById('formAddArtist').submit();" class="nav-link">Afegir Artista</a>
                </form>

            </li>

        </ul>
    </div>
</nav>
<h1 class="text-center text-dark mt-4">Clients:</h1>
<div class="container mt-4 alients">
    <div class="row">
        <div th:each="client, iStat:${llistaClients}" class="col-md-4  ">
            <!--<p th:text="${iStat.index}"></p>-->
            <div class="card" style="width: 18rem;">
                <img th:src="${client.urlPhoto}" class="card-img-top p-2" height="200" width="270">
                <div class="card-body">
                    <div class="border border-dark rounded mb-3 p-2">
                        <h5 th:text="${client.nom}" class="card-title"></h5>
                        <p th:text="${client.correu}"class="card-text"></p>
                        <p th:text="${client.edat}"class="card-text"></p>
                        <p th:text="${client.telefon}"class="card-text"></p>
                        <a href="#" class="btn btn-primary">A</a>
                    </div>
                <div th:each="ubicacio: ${llistaUbis}">
                    <div th:if="${ubicacio.Id}==${client.idUbicacio}" class="border border-dark roundeds p-2">
                        <h5 class="card-text">Adreça..</h5>
                        <div>
                            <p th:text="${ubicacio.carrer}" class="card-text"></p>
                            <p th:text="${ubicacio.ciutat}"class="card-text"></p>
                            <p th:text="${ubicacio.pais}"class="card-text"></p>
                        </div>
                    </div>
                 </div>


                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>